<template name="userSideMenu">
    <div class="content">
        <div class="list">
            <div class="item item-image">
                <img class="profile" src={{user.profile.image}}>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-android-happy"></i>
                <h2>{{user.profile.firstName}}, {{user.profile.lastName}}</h2>
                <p>100 Karma Points</p>
            </div>
            <a class="item" href="#">
                Invite Friends
            </a>
            <a class="item logout" href="#">
                Logout
            </a>
        </div>
    </div>
</template>