<template name="profile">
    {{#ionModal customTemplate=true}}
        <div id="profileModal">
            <div class="content overflow-scroll">
                <div class="bar bar-header bar-light">
                    <button data-dismiss="modal" type="button" class="button button-clear button-positive pull-left">
                        {{> ionIcon icon='ios-close-empty'}}
                    </button>
                    <h1 class="title">Profile</h1>
                    <button class="button button-positive button-clear pull-right camera">
                        {{> ionIcon icon='ios-camera'}}
                    </button>
                </div>
                <div class="list has-header">
                    {{#with user}}
                        <div class="item item-image">
                            <img src={{user.profile.image}}>
                        </div>

                        <div class="item">
                            <h2>{{user.profile.firstName}}, {{user.profile.lastName}}</h2>

                            <p>Member since {{joinDate user.createdAt}}</p>
                        </div>

                        <div class="item">
                            <p>About {{user.profile.firstName}}</p>
                        </div>
                    {{/with}}
                </div>
            </div>
        </div>
    {{/ionModal}}
</template>