<template name="appLayout">
    {{#ionBody}}
        {{#ionSideMenuContainer}}

            {{#ionSideMenus}}

                {{#ionSideMenu side="left"}}
                    {{> yield "leftMenu"}}
                {{/ionSideMenu}}

                {{#ionSideMenu side="right"}}
                    {{> chnlListMenu}}
                {{/ionSideMenu}}

            {{/ionSideMenus}}

            {{#ionSideMenuContent}}

                {{> yield "nav"}}

                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}

                {{> yield "footer"}}

            {{/ionSideMenuContent}}

        {{/ionSideMenuContainer}}

    {{/ionBody}}
</template>